<mat-toolbar class="header" color="primary">
  <div class="header-toolbar">
    <span class="title">Currency Converter</span>
    <span class="rate">
      <span>
        USD: {{ rates['USD']['UAH'].toFixed(2) }} UAH
      </span>
      <span>
        EUR: {{ rates['EUR']['UAH'].toFixed(2) }} UAH
      </span>

      <button
        class="button"
        mat-stroked-button
        color="basic"
        aria-label="Update exchange rate icon"
        title="Update exchange rate"
        (click)="updateRates.emit()"
      >
        <mat-icon class="icon">sync</mat-icon>
      </button>
    </span>
  </div>
</mat-toolbar>
